---
home: active
---
	
	<div id="loader"></div>
	<main class="container c16 fl">

		<section id="intro">
			<div id="intro-scan">
				<div id="scanner">
					<div id="scanner-light"></div>
				</div>
				<div class="image lazyloaded" style="background-image: url(assets/img/intro/v2/img1.jpg)"></div>
				<div class="image lazyloaded" style="background-image: url(assets/img/intro/v2/img2.jpg)"></div>
				<div class="image lazyloaded" style="background-image: url(assets/img/intro/v2/img3.jpg)"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img4.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img5.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img6.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img7.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img8.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img9.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img10.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img11.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img12.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img13.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img14.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img15.jpg"></div>
				<div class="image lazyload" data-bg="assets/img/intro/v2/img16.jpg"></div>
			</div>
			<div id="motto">Intelligences<br>for a bold<br>positive future.</div>
		</section>

		<section id="about">
			<div id="left" class="mb3" lg="c8 fl p3 x xdc xjb h100 m0">
				<div id="summary">
					<div class="c16 fl x xjb xafe">
						<h1>Anima</h1>
						<h2 class="dn" lg="db">Intelligences for a bold, positive future.</h2>
					</div>
					<hr style="margin: 0.5em 0 0.7em">
					<div class="c16 fl title">
						We design audacious projects to&nbsp;accelerate humanity’s next great&nbsp;leap.
					</div>
					<hr style="margin: 0.3em 0 0.7em">
					<div class="c16 fl mb2 dn" lg="db">
						<p>We are currently building the website for you to explore our projects and imagine possible collaborations.</p>
						<p>Until then, don’t hesitate to contact us here:
						<br>→&nbsp;&nbsp;<a href='mai&#108;t&#111;&#58;%&#54;8ello&#64;a&#110;i&#37;2&#69;%&#54;Da'>hello@ani.ma</a></p>
					</div>
				</div>
				
				<footer class="c16 fl">
					<div id="logos">
						<div id="davinci" class="logo db fl">
							<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 456.46 477.83"><defs><clipPath id="clip-path" transform="translate(0.07 -0.09)"><rect class="cls-1" x="-0.07" y="0.08" width="460.13" height="477.68"/></clipPath></defs><title>A_DAVINCI</title><g class="cls-2"><path class="cls-3" d="M456.39,477.76H-.06V.09H456.39ZM2.84,474.85H453.48V3H2.84Z" transform="translate(0.07 -0.09)"/><polygon class="cls-3" points="454.19 477.48 0.18 2.19 2.28 0.19 456.28 475.48 454.19 477.48"/><polygon class="cls-3" points="2.28 477.48 0.18 475.48 454.19 0.19 456.28 2.19 2.28 477.48"/><path class="cls-3" d="M228.16,477.76C102.32,477.76-.06,370.61-.06,238.92S102.32.09,228.16.09,456.38,107.23,456.38,238.92,354,477.76,228.16,477.76ZM228.16,3C103.92,3,2.84,108.83,2.84,238.92S103.92,474.85,228.16,474.85,453.48,369,453.48,238.92,352.4,3,228.16,3Z" transform="translate(0.07 -0.09)"/></g><path class="cls-3" d="M227,36h2.63L333.43,275.86H123.3ZM205.36,1.59-.07,477.92H37.34l68.38-161.64H350.48l68.18,161.64h37.41L251.3,1.59Z" transform="translate(0.07 -0.09)"/></svg>
						</div>
						<div class="logo db fl">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="-484 -484 1000 1000" enable-background="new -484 -484 1000 1000" xml:space="preserve">
						<path id="logo" d="M137.8,21.3L153-13.8h0.4l15.4,35.1H137.8z M119.6,50.8h5.5l10.1-23.6h36.1l10.1,23.6h5.5l-30.2-69.6h-6.8
							L119.6,50.8z M29.6,50.8h5.5V-12h0.4l30.7,62.8h2.7L99.5-12h0.4v62.8h5.5v-69.6h-8.1L67.7,41.7h-0.4L37.7-18.8h-8.1L29.6,50.8z
							 M2.1,50.8h5.6v-69.6H2.1V50.8z M-73.5,50.8h5.5v-61.9h0.4l41.8,61.8h5.8v-69.6h-5.6l0.2,60.5h-0.4l-41-60.5h-6.8L-73.5,50.8z
							 M-136.6,21.3l15.4-35.1h0.4l15.4,35.1H-136.6z M-154.8,50.8h5.5l10.1-23.6h36.1l10.1,23.6h5.5l-30.2-69.6h-6.8L-154.8,50.8z"/>
						<g id="circle">
							<path d="M16,516c-275.7,0-500-224.3-500-500c0-275.7,224.3-500,500-500c275.7,0,500,224.3,500,500C516,291.7,291.7,516,16,516z
								 M16-477.8c-272.3,0-493.8,221.5-493.8,493.8c0,272.3,221.5,493.8,493.8,493.8c272.3,0,493.8-221.5,493.8-493.8
								C509.8-256.3,288.3-477.8,16-477.8z"/>
							<g id="text">
								<path d="M-266.2-270.9l39.6-34.5l-3.4-3.9l-35.5,30.8l-17.9-20.6l34-29.5l-3-3.5l-34,29.5l-18-20.7l35.1-30.5l-3.2-3.7l-39.3,34.1
									L-266.2-270.9z M-340-241.7l-21.5-17.6l18.5-22.5c5.5-6.6,13.3-7.6,19.8-2.3c6.5,5.3,7,13.7,1.1,20.9L-340-241.7z M-314.5-214.8
									l2.9-3.5l-24.2-19.8l20.3-24.7c4.4-5.3,12.1-5.1,19.2,0.4c6.4,5,12.7,7.6,15.6,6.6l3.5-4.2l-0.4-0.3c-3.3,0.9-9.6-1.6-16-6.5
									c-7.2-5.4-15.6-5.9-21.3-1.1l-0.3-0.3c3.3-7,1.3-15.3-4.7-20.2c-8.8-7.2-19.2-6.1-26.4,2.7l-22,26.8L-314.5-214.8z M-337.2-174.7
									c7.1-13.2,4.4-27.5-6.6-33.5l-42.7-23.4l-2.6,4.8l41.9,22.9c9.4,5.3,12.2,17,6.6,27.3c-5.6,10.3-17.1,14.5-26.5,9.4l-42-22.8
									l-2.6,4.8l42.9,23.3C-357.9-155.9-344.4-161.4-337.2-174.7 M-364.3-116.7l1.9-5.2l-60.7-22.3l8.5-23.1l-4.6-1.7l-18.9,51.4
									l4.6,1.7l8.5-23.1L-364.3-116.7z M-378.9-60.1c3.1-14.6-3.8-27.6-15.9-30.2l-47.7-10.2l-1.1,5.4l46.7,10
									c10.5,2.4,16.6,12.8,14.2,24.2c-2.4,11.4-12.2,18.8-22.8,16.6l-46.8-9.9l-1.1,5.4l47.8,10C-393.4-36.2-382-45.4-378.9-60.1
									 M-387.9,23.1l0.2-5.5l-32.2-1l1.3-40.2l-5.2-0.2l-1.3,40.2l-27.2-0.9l1.3-42.2l-4.9-0.2l-1.5,47.7L-387.9,23.1z M-370.3,137.3
									l-12.8-50.9l-5.1,1.3l11.4,45.6l-26.4,6.6l-11-43.6l-4.6,1.1l11,43.6l-26.6,6.6l-11.3-45.1l-4.8,1.2l12.6,50.4L-370.3,137.3z
									 M-357.5,171.7l-75,0.8l2.1,5l65-1.3l0.3,0.6l-46.6,45.4l2.1,5l53.3-52.9L-357.5,171.7z M-338,212.4l-2.5-4.9l-61.3,33.2l2.7,4.9
									L-338,212.4z M-318,245.1l-3.1-4.6l-53.6,36.1l-13.8-20.5l-4.1,2.8l30.6,45.4l4.1-2.8l-13.7-20.3L-318,245.1z M-295,275.7
									l-3.6-4.4l-53.6,44.3l3.6,4.4L-295,275.7z M-266.1,305.7c-12.4-12.3-26.5-14.5-35.6-5.3c-7.9,8-5.7,20.6,6.6,33
									c7.9,7.9,10,17.6,4.2,23.4c-5.8,5.8-15.1,4.7-23-3.2c-8.4-8.4-9-18.8-1.5-26.3l-4.4-4.4c-9.1,9.2-7.9,22.4,3,33.4
									c10.3,10.3,22.1,12,29.8,4.4c7.7-7.6,4.8-19.8-5.5-30.1c-9.8-9.7-11.4-19.6-5.1-25.9c7.4-7.5,18.8-6,28.6,3.8
									c9.8,9.7,9.7,22,0.3,31.4l4.4,4.4C-253.2,333.1-253.9,317.7-266.1,305.7L-266.1,305.7z M-211.1,355.6c13,8.8,15,26.7,4.8,41.8
									c-10.2,15.1-27.5,19.7-40.4,11c-12.9-8.7-15-26.5-5-41.5C-241.5,351.9-224,346.9-211.1,355.6 M-208.9,352.4
									c-15.8-10.6-36.3-5.8-47.7,11.1c-11.4,17-8,37.5,7.8,48.2c15.8,10.6,36.3,6,47.6-10.8C-189.8,384-193,363-208.9,352.4
									 M-150.7,424.5l-12.2,27l-24.8-11.2c-6.9-3.1-9.6-11.2-6.1-18.8c3.4-7.6,11.4-11.3,18.4-8.2L-150.7,424.5z M-131.2,394.7l-5-2.2
									l-12.4,27.4l-22.1-10c-11.6-5.2-23.8-1.4-28.5,9s0.7,21.7,12.2,27l27.2,12.3L-131.2,394.7z M-31.7,449.4l-20.6,32.2h-0.4l-9.6-37
									L-31.7,449.4z M-9.1,423.1l-5.5-0.9L-28.2,444l-35.6-5.6l-6.2-24.9l-5.5-0.9l18.9,73.4l6.6,1.1L-9.1,423.1z M103.7,450.5l4,27.6
									l-28.8,4.2c-8.6,1.3-15-3.3-16.2-11.5c-1.2-8.2,4-14.9,13.2-16.2L103.7,450.5z M102.9,413.5l-4.4,0.7l4.5,31l-31.8,4.6
									c-6.8,1-12.4-4.4-14-13.2c-1.5-8-4.3-14.1-7.1-15.4l-5.3,0.8v0.5c3,1.5,6,7.7,7.4,15.5c1.6,8.8,7.6,14.9,15,15.1v0.4
									c-7.1,3-11.3,10.5-10.1,18.1c1.6,11.2,10.1,17.4,21.3,15.8l34.3-4.9L102.9,413.5z M147.6,403c14.8-4.9,30.3,4.4,36.1,21.7
									c5.8,17.3-1.2,33.8-16,38.7c-14.8,4.9-30.2-4.4-35.9-21.4C126.1,425,132.8,407.9,147.6,403 M146.4,399.3
									c-18.1,6-26.8,25.2-20.4,44.6s24.9,29.3,42.9,23.3s26.9-25.1,20.5-44.4C183.1,403.5,164.5,393.3,146.4,399.3 M226.2,363.6
									l-4.8,2.6l15.4,28.3l-35.4,19.1l2.5,4.6l35.3-19.1l12.9,23.9L215,443.2l2.3,4.4l42-22.7L226.2,363.6z M297.7,306
									c-12.3,12.4-14.5,26.4-5.3,35.6c7.9,7.9,20.6,5.7,33-6.6c7.9-7.9,17.6-10,23.4-4.2s4.7,15.1-3.2,23c-8.3,8.4-18.8,9-26.3,1.5
									l-4.4,4.4c9.2,9.2,22.4,7.9,33.4-3c10.3-10.3,12-22.1,4.4-29.8c-7.6-7.6-19.8-4.8-30.1,5.5c-9.7,9.8-19.7,11.4-25.9,5.1
									c-7.5-7.4-6-18.8,3.8-28.6c9.7-9.8,22-9.7,31.4-0.3l4.4-4.4c-11-11-26.4-10.3-38.5,1.9 M357.6,234.1L327.3,277l4.3,3l27.2-38.4
									l22.3,15.8l-26,36.7l3.9,2.8l26-36.7l22.4,15.8l-26.8,37.9l4,2.8l30-42.4L357.6,234.1z M376.1,198.4c-7,14.6-2.2,30.4,11.1,36.9
									l2.6-5.5c-10.9-5-15.7-17.9-10.7-28.8c0.1-0.3,0.3-0.6,0.4-0.9c7-14.4,24.6-19.4,41.1-11.4c16.5,7.9,23.4,24.4,16.6,38.6
									c-5.5,11.3-16.3,16.6-25.3,12.2l-2.6,5.5c11,5.3,24.6-1.6,31.5-16c8.3-17.3,0.8-36.9-17.5-45.7C405,174.4,384.6,180.8,376.1,198.4
									 M410.5,106.8l-1.5,5.3l59.4,17.1l-0.1,0.4l-71,23.1l-1.6,5.6l66.9,19.2l1.5-5.4l-58.2-16.5v-0.4l69.4-22.6l1.9-6.6L410.5,106.8z
									 M419.3,42.1l-5.6,52.2l5.2,0.6l5-46.8L451,51l-4.8,44.7l4.7,0.5l4.9-44.8l27.2,2.9l-5,46.2l4.9,0.5l5.5-51.6L419.3,42.1z
									 M418-1.8c0.5,10.8,7.6,21.5,16.6,24.9v0.4l-14.4,3.1l0.2,3.6l37.2-3.5l-1.4-31.8l-4.9,0.2l1.1,26.3l-3,0.1
									c-15.1,0.7-27-9.4-27.6-23.4c-0.7-16,12.6-28.7,30.8-29.5c18.2-0.8,32.2,11,32.9,27.2C486,9,478.8,19.4,469,19.8l0.2,5.9
									c12.2-0.5,20.9-13.2,20.2-29.4c-0.4-19.2-16.3-34.4-35.5-33.9c-0.5,0-1.1,0-1.6,0.1C431.9-36.7,417.1-21.3,418-1.8 M413.1-52.8
									l0.9,5.5L482.6-59l-0.9-5.5L413.1-52.8z M402-101l9.7,38.8l5-1.3L408.3-97l62.5-15.7l-1.3-5.3L402-101z M384.4-147.2l14.5,37.4
									l4.8-1.9l-12.5-32.2l60.1-23.4l-2-5.1L384.4-147.2z M353.1-204.6l26.1,45.6l4.5-2.6l-23.2-40.9l23.7-13.6l22.4,39l4.1-2.4
									l-22.4-39l23.8-13.6l23.1,40.3l4.3-2.5l-25.8-45L353.1-204.6z M329.9-235l3.4,4.4l50.8-40l15.3,19.4l3.9-3.3l-33.8-42.9l-3.9,3
									l15.2,19.3L329.9-235z M269.7-296.2l4.1,3.7l41.5-45.8l0.3,0.3L305-264.1l4.4,3.9l46.7-51.6l-4.1-3.8l-40.6,45l-0.3-0.3l10.2-72.3
									l-5-4.6L269.7-296.2z M251.9-309l4.4,3.3l41.5-55.8l-4.4-3.3L251.9-309z M145.8-364.8l5.1,2.2l24.2-56.9l0.4,0.2l14.3,73.3
									l5.3,2.2l27.2-64l-5.1-2.2l-23.5,55.8l-0.4-0.2l-14.1-71.6l-6.2-2.6L145.8-364.8z M101.1-375c10.6,2.2,22.7-2,28.2-9.9h0.4
									l-0.5,14.7l3.5,0.7l5.8-36.9l-31.2-6.6l-1.1,5l25.8,5.4l-0.6,2.9c-3.1,14.8-15.8,23.8-29.5,20.9c-15.7-3.3-24.8-19.3-21-37.1
									c3.7-17.9,18.6-28.5,34.5-25.1c13,2.7,21.3,12.1,19.3,22l5.8,1.2c2.5-12-7.6-23.5-23.5-26.9c-18.7-4.3-37.3,7.4-41.6,26.1
									c-0.1,0.5-0.2,0.9-0.3,1.4C70.7-397.2,82-379.1,101.1-375 M50.6-383.7l5.6,0.5l5.7-69.3l-5.6-0.5L50.6-383.7z M8.8-384.1
									c17.5-0.3,28.8-9,28.6-21.9c-0.2-11.2-10.9-18.4-28.4-18.1c-11.2,0.2-19.6-5.1-19.8-13.2c-0.2-8.1,7.1-14.1,18.3-14.3
									c11.8-0.2,19.8,6.6,19.9,17.2l6.1-0.1c-0.2-12.9-10.6-21.3-26.1-21c-14.5,0.3-24,7.6-23.8,18.4c0.2,10.8,10.8,17.3,25.4,17
									c13.8-0.3,22,5.5,22.2,14.3c0.2,10.5-8.8,17.6-22.6,17.9s-22.6-8.4-22.8-21.7l-6.1,0.1c0.3,15.6,11.8,25.7,28.9,25.4 M-84.2-373.1
									l51.8-10.1l-1-5.1l-46.2,9.1l-5.3-26.8l44.1-8.8l-0.9-4.6l-44.1,8.8l-5.3-26.9l45.5-9l-0.9-4.8l-51,10.1L-84.2-373.1z
									 M-151.1-354.9l-21.7-55.6l27.1-10.6c12-4.7,24.2,3.3,30.6,20c6.4,16.7,3,31-9,35.7L-151.1-354.9z M-154.5-348.3l29.6-11.5
									c17.1-6.6,23.4-24,15.7-43.6c-7.6-19.6-23.8-27.9-41-21.2l-29.6,11.5L-154.5-348.3z"/>
							</g>
						</g>
						</svg>
						</div>
					</div>
					<div class="c16 fl wsnw mtf1" lg="c6 mt0 ml2">
						<div id="fr-time" class="upper c8 fl" lg="c16">
							Paris
							<br>00:00:00 AM
						</div>
						<div id="la-time" class="upper c8 fl" lg="c16 mtf1">
							Los Angeles
							<br>00:00:00 AM
						</div>
					</div>
				</footer>
			</div>

			<div id="right" lg="c8 fl p3 h100">
				
				<hr lg="dn">
				<h3>Belief</h3>
				<p>Where did the future go?</p>
				<p>As the world faces new, urgent challenges, deep technologies keep on accelerating us. But instead of using these superpowers for a massive, positive impact, we blind ourselves with small, linear innovations.<br>Where is the fire and radical imagination that pushes our humanity forward?</p>
				<p>In an era of Intelligence Renaissance we have a unique opportunity to enlighten our promethean souls and reboot utopias. We have the science, tools and capabilities today to design and create ambitious projects to reach them all.</p>
				<p>It is time to invent new, bold futures for all and to start building them today.</p>
				
				<hr>
				<h3>Who we are</h3>
				<p>Founded by Amir Banifatemi and Alexandre Cadain, Anima is a moonshot studio gathering some of the best scientists, artists and entrepreneurs to imagine and build the next big things.</p>
				
				<hr>
				<h3>What we do</h3>
				<p>We work with forward thinking organizations and individuals to imagine, design and produce bold projects to advance society.</p>
				<ul>
					<li>We help them see further futures and identify pathways to desirable and feasible ones.</li>
					<li>We design frameworks to bring organizations in making the next breakthrough.</li>
					<li>We produce moonshots.</li>
				</ul>
				<p>Some of our partners and clients include the United Nations, the XPRIZE Foundation, Paris Sciences Lettres University, HEC, ESA, thecamp, Chanel, Framestore and Ubisoft.</p>

				<div class="c16 fl mb2 db" lg="dn">
					<hr>
					<p>We are currently building the website for you to explore our projects and imagine possible collaborations.</p>
					<p>Until then, don’t hesitate to contact us here:
					<br>→&nbsp;&nbsp;<a href='mai&#108;t&#111;&#58;%&#54;8ello&#64;a&#110;i&#37;2&#69;%&#54;Da'>hello@ani.ma</a></p>
				</div>
			</div>
		</section>

	</main>
